<style>

</style>
<!-- Final Presentation Information -->
<div style="display: flex; flex-direction: column; border: 2px solid orangered;">
    <h2 style="text-align: center; border-bottom: 2px solid orangered; background-color: orange;">Final Presentations Information</h2>
    <p style="margin: 20px;">
        The final presentations will take place <em>Monday, April 4th, 2022 @ 6pmET/5pmCT/3pmPT</em>. We welcome you to view the event using the below <em>YouTube Stream</em>. We also ask that you please vote for you favorite team using the <em>"Viewer's Choice Ballot"</em> below! 
        The voting will remain open until after the final presentation. 
    </p>
    <ul>
        <li style=".a{color: rgb(44,135,201);}; .a:hover{font-weight: bold;};"><strong>Viewer's Choice Ballot</strong> <a href="https://forms.gle/4jQLJ5JNnjqcDfVJ8">[Voting Link]</a></li>
        <li style=".a{color: rgb(44,135,201);}; .a:hover{ font-weight: bold;};"><strong>Final Presentations YouTube Stream </strong> <a href="https://youtu.be/lFZeEgw7JAg">[Video Stream Link]</a> <a href="https://youtu.be/lFZeEgw7JAg"><img src="assets/images/youtube-logo-sm.png" alt="YouTube Live of final Presentations"></a></li>
    </ul>
</div>