<img src="assets/images/HackHPC_ADMI22-200px.png" alt="HackHPC Logo">

<h5 class="mb-3">Thank you to our sponsors:</h5>


<table>
  <tr><td padding-bottom: 20px;><a href="http://obz.io/"><img src="assets/images/omnibond.png" alt="Omnibond Logo"></a>
  </td></tr>
  <tr><td padding-bottom: 20px;><a href="https://sciencegateways.org/"><img src="assets/images/sgci-logo.png" alt="SGCI Logo"></a>
  </td></tr>
  <tr><td padding-bottom: 20px;> <a href="https://voltrondata.com/"><img src="assets/images/voltron-logo.png" alt="Voltron Logo"></a>
  </td></tr>
  <tr><td padding-bottom: 20px;><a href="https://tacc.utexas.edu/"><img src="assets/images/tacc-logo.jpeg" alt="TACC Logo"></a>
  </td></tr>
  <tr><td padding-bottom: 20px;><a href="https://cloud.google.com/"><img src="assets/images/google-logo.png" alt="Google Logo"></a>
  </td></tr>
  <tr><td padding-bottom: 20px;><a href="https://www.xsede.org/"><img src="assets/images/xsede-logo.png" alt="XSEDE Logo"></a>
  </td></tr>
</ul>
