



<div>
<table style="border: 3px solid rgb(44,135,201);">
  <tr><td style="text-align: center; border: 0px;"><img src="{{site.baseurl}}/assets/images/HackHPC_ADMI22-200px.png" alt="HackHPC Logo">
  </td></tr>
  <tr ><td style="border: 0px;">
    <em><h6 class="mb-3" style="background-color: rgb(44,135,201); text-align: center; vertical-align: bottom; border: 0px; color: whitesmoke;">Sponsored By:</h6></em>
  </td></tr>
  <tr><td style="padding-bottom: 10px; text-align: center; border: 0px;"><a href="http://obz.io/"><img src="{{site.baseurl}}/assets/images/omnibond.png" alt="Omnibond Logo"></a>
  </td></tr>
  <tr><td style="padding-bottom: 10px; text-align: center; border: 0px;"><a href="https://cloud.google.com/"><img src="{{site.baseurl}}/assets/images/google-logo.png" alt="Google Logo"></a>
  </td></tr>
  <tr><td style="padding-bottom: 10px; text-align: center; border: 0px;"><a href="https://www.xsede.org/"><img src="{{site.baseurl}}/assets/images/xsede-logo.png" alt="XSEDE Logo"></a>
  </td></tr>
  <tr><td style="padding-bottom: 10px; text-align: center; border: 0px;"><a href="https://sciencegateways.org/"><img src="{{site.baseurl}}/assets/images/sgci-logo.png" alt="SGCI Logo"></a>
  </td></tr>
  <tr><td style="padding-bottom: 10px; text-align: center; border: 0px;"> <a href="https://voltrondata.com/"><img src="{{site.baseurl}}/assets/images/voltron-logo.png" alt="Voltron Logo"></a>
  </td></tr>
  <tr><td style="padding-bottom: 10px; text-align: center; border: 0px;"><a href="https://tacc.utexas.edu/"><img src="{{site.baseurl}}/assets/images/tacc-logo.jpeg" alt="TACC Logo"></a>
  </td></tr>
  
  
</table>
</div>
