<img src="assets/images/HackHPC_ADMI22-200px.png" alt="HackHPC Logo">

<h5 class="mb-3">Thank you to our sponsors:</h5>

<ul>
    <img src="assets/images/omnibond.png" alt="Omnibond Logo">
    <li><a href="http://obz.io/">Omnibond</a> </li>
    <img src="assets/images/sgci-logo.png" alt="SGCI Logo">
    <li><a href="https://sciencegateways.org/">SGCI</a></li>
    <img src="assets/images/voltron-logo.png" alt="Voltron Logo">
    <li><a href="https://voltrondata.com/">Voltron Data</a></li>
    <img src="assets/images/tacc-logo.jpeg" alt="TACC Logo">
    <li><a href="https://tacc.utexas.edu/">TACC</a></li>
    <img src="assets/images/google-logo.png" alt="Google Logo">
    <li><a href="https://cloud.google.com/">Google Cloud</a></li>
    <img src="assets/images/xsede-logo.png" alt="XSEDE Logo">
    <li><a href="https://www.xsede.org/">XSEDE</a></li>
  </ul>