<!-- Sponsors -->
<div style="display: flex; flex-direction: column;">
    <table style="text-align: center; border: 5px solid rgb(44,135,201)">
        
        <tr style="border-top: 10px solid rgb(44,135,201); margin: 20px;">
            <td rowspan="2" style="vertical-align: top; padding: 0px;">
                <img style="padding: 0px; " src="{{site.baseurl}}/assets/images/HackHPC_ADMI22-200px.png" alt="HackHPC Logo" >
            </td>

            <td style="padding-bottom: 20px; padding-top: 20px; text-align: right;" ><a href="https://voltrondata.com/"><img src="{{site.baseurl}}/assets/images/voltron-logo.png" alt="Voltron Logo"></a>
            </td>
            <td style="padding-bottom: 20px; text-align: center; padding-top: 20px;"><a href="https://www.xsede.org/"><img src="{{site.baseurl}}/assets/images/xsede-logo.png" alt="XSEDE Logo"></a>
            </td>
            <td style="padding-bottom: 20px; text-align: left; padding-top: 20px;"><a href="https://cloud.google.com/"><img src="{{site.baseurl}}/assets/images/google-logo.png" alt="Google Logo"></a>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 20px; text-align: right;"><a href="https://sciencegateways.org/"><img src="{{site.baseurl}}/assets/images/sgci-logo.png" alt="SGCI Logo"></a>
            </td>
            <td style="padding-bottom: 20px; text-align: center;"><a href="http://obz.io/"><img src="{{site.baseurl}}/assets/images/omnibond.png" alt="Omnibond Logo"> </a>
            </td>
            <td style="padding-bottom: 20px; text-align: left;"><a href="https://tacc.utexas.edu/"><img src="{{site.baseurl}}/assets/images/tacc-logo.jpeg" alt="TACC Logo"></a>
            </td>
        </tr>
        <tr><td colspan="4"><h3 class="font-weight-bold spanborder" style="background-color: rgb(44,135,201); color: whitesmoke; padding-bottom: 5px; margin: 0px;">Thank you to our Sponsors:</h4>
        </td></tr>
    </table>
</div>