<style>

.teamintro a{
    color: rgb(44,135,201);
}

.teamintro img{
    border: 3px solid rgb(44,135,201);
}

.teamintro:hover a:hover{
    font-weight: bold;

}


</style>
<!-- Teams -->
<div style="display: flex; flex-direction: column;">
    <table style="text-align: center; border: 2px dashed lightgray; background-color: lightgrey;">     
        <tr>
            <td colspan="3">
                <h3 style="color: rgb(44,135,201);">Meet the Teams</h3>
            </td>
        </tr>
        <tr >
            <td class="teamintro" >
                <a href="https://www.youtube.com/watch?v=kbo5j_JgNCc&list=PLk7G3_iq2ijRCMovnL_su1QYEnqfH3ibD"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/SpelHouse_Tiguars 5-250px.png" alt="SpelHouse Tiguars"></a><br>
                <a href="https://github.com/asapzy/spelhousetiguars">GitHub</a> |
                <a href="https://youtu.be/HzJEI9kDkNs">Trailer</a> |
                <a href="https://youtu.be/kbo5j_JgNCc">Introduction</a>
            </td>

            <td class="teamintro">
                <a href="https://www.youtube.com/watch?v=zVok_fgXM2I&list=PLk7G3_iq2ijR69MGRrRiejgN6vWlLK9D2"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/Nourishment_Ninjas 6-250px.png" alt="Nourishment Ninjas"></a><br>
                <a href="https://hackhpc.github.io/ADMI22/draft-results/">GitHub</a> |
                <a href="https://youtu.be/nG5yahma5YQ">Trailer</a> |
                <a href="https://youtu.be/zVok_fgXM2I">Introduction</a>
            </td>
            
            <td class="teamintro">
                <a href="https://www.youtube.com/watch?v=X_N__kNEHWE&list=PLk7G3_iq2ijQ7LlkZi8p4oWBlGLatGChm"><img  src="{{site.baseurl}}/assets/images/teamintroductions_250px/Raging_Flashy_Tigers 5-250px.png" alt="Raging Flashy Tigers"></a><br>
                <a href="https://github.com/Raharijao/Raging_Flashy_Tigers-Project">GitHub</a> |
                <a href="https://youtu.be/dHj0i8KPFNI">Trailer</a> |
                <a href="https://youtu.be/X_N__kNEHWE">Introduction</a>
            </td>
            
        </tr>
        <tr >
            <td style="padding-bottom: 5px;">
                <a href="https://www.admiusa.org/"><img src="{{site.baseurl}}/assets/images/ADMIlogo-bluewhite.png" alt="ADMI Logo" ></a>
            </td>
            
            
            <td class="teamintro" style="padding-bottom: 5px;">
                <a href="https://www.youtube.com/watch?v=2cKR16pKBAc&list=PLk7G3_iq2ijROfii0QXP8nrfsp1gV0sF2"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/The_Atatsuki 5-250px.png" alt="The Atatsuki"> </a><br>
                <a href="https://github.com/jullie-s/akatsuki">GitHub</a> |
                <a href="https://youtu.be/fl53eMVxNyo">Trailer</a> |
                <a href="https://youtu.be/2cKR16pKBAc">Introduction</a>
            </td>
            
            <td class="teamintro" style="padding-bottom: 5px;">
                <a href="https://www.youtube.com/watch?v=cmw4_PRTehc&list=PLk7G3_iq2ijQEH_b8bK85GCOVC92vpzrg"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/Voracious_Vikings 6-250px.png" alt="Voracious Vikings"></a><br>
                <a href="https://hackhpc.github.io/ADMI22/draft-results/">GitHub</a> |
                <a href="https://youtu.be/MfknSDpkbow">Trailer</a> |
                <a href="https://youtu.be/cmw4_PRTehc">Introduction</a>
            </td>
        </tr>
        
    </table>
</div>