<style>

.teamintro a{
    color: rgb(44,135,201);
}

.teamintro img{
    border: 3px solid rgb(44,135,201);
}

.teamintro:hover a:hover{
    font-weight: bold;

}


</style>
<!-- Teams -->
<div style="display: flex; flex-direction: column;">
    <table style="text-align: center; border: 2px dashed lightgray; background-color: lightgrey;">     
        <tr>
            <td colspan="3">
                <h3 style="color: rgb(44,135,201);">Meet the Teams</h3>
            </td>
        </tr>
        <tr >
            <td class="teamintro" >
                <a href="https://sciencegateways.org/"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/SpelHouse_Tiguars 5-250px.png" alt="SpelHouse Tiguars"></a><br>
                <a href="https://voltrondata.com/">GitHub</a> |
                <a href="https://voltrondata.com/">Trailer</a> |
                <a href="https://voltrondata.com/">Introduction</a>
            </td>

            <td class="teamintro">
                <a href="https://voltrondata.com/"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/Nourishment_Ninjas 6-250px.png" alt="Nourishment Ninjas"></a><br>
                <a href="https://voltrondata.com/">GitHub</a> |
                <a href="https://voltrondata.com/">Trailer</a> |
                <a href="https://voltrondata.com/">Introduction</a>
            </td>
            
            <td class="teamintro">
                <a href="https://www.xsede.org/"><img  src="{{site.baseurl}}/assets/images/teamintroductions_250px/Raging_Flashy_Tigers 5-250px.png" alt="Raging Flashy Tigers"></a><br>
                <a href="https://voltrondata.com/">GitHub</a> |
                <a href="https://voltrondata.com/">Trailer</a> |
                <a href="https://voltrondata.com/">Introduction</a>
            </td>
            
        </tr>
        <tr >
            <td style="padding-bottom: 5px;">
                <a href="https://www.admiusa.org/"><img src="{{site.baseurl}}/assets/images/ADMIlogo-bluewhite.png" alt="ADMI Logo" ></a>
            </td>
            
            
            <td class="teamintro" style="padding-bottom: 5px;">
                <a href="http://obz.io/"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/The_Atatsuki 5-250px.png" alt="The Atatsuki"> </a><br>
                <a href="https://voltrondata.com/">GitHub</a> |
                <a href="https://voltrondata.com/">Trailer</a> |
                <a href="https://voltrondata.com/">Introduction</a>
            </td>
            
            <td class="teamintro" style="padding-bottom: 5px;">
                <a href="https://tacc.utexas.edu/"><img src="{{site.baseurl}}/assets/images/teamintroductions_250px/Voracious_Vikings 6-250px.png" alt="Voracious Vikings"></a><br>
                <a href="https://voltrondata.com/">GitHub</a> |
                <a href="https://voltrondata.com/">Trailer</a> |
                <a href="https://voltrondata.com/">Introduction</a>
            </td>
        </tr>
        
    </table>
</div>